[Unit]
Description=Bitcoin event streaming server
After=network.target
Requires=network.target

[Service]
Type=simple
User=<user>
Group=<group>
Restart=on-failure
Environment=MIX_ENV=prod
Environment=RELEASE_NODE=bitfeed
Environment=LANG=en_US.UTF-8
Environment=PORT=<port>
Environment=BITCOIN_RPC_USER=<rpc user>
Environment=BITCOIN_RPC_PASS=<rpc password>

WorkingDirectory=<installation root>/server

ExecStart=/bin/bash <installation root>/server/_build/prod/rel/prod/bin/prod start
ExecStop=/bin/bash <installation root>/server/_build/prod/rel/prod/bin/prod stop

[Install]
WantedBy=multi-user.target
