[Unit]
Description=Bitcoin event streaming server
After=network.target
Requires=network.target

[Service]
Type=simple
User=<user>
Group=<group>
Restart=on-failure
Environment=MIX_ENV=prod
Environment=RELEASE_NODE=bitfeed
Environment=LANG=en_US.UTF-8
Environment=PORT=<port>
Environment=BITCOIN_RPC_USER=<rpc user>
Environment=BITCOIN_RPC_PASS=<rpc password>
Environment=BITCOIN_HOST=<rpc host>
Environment=BITCOIN_RPC_PORT=<rpc port>
Environment=BITCOIN_ZMQ_RAWBLOCK_PORT=<zmq rawblock port>
Environment=BITCOIN_ZMQ_RAWTX_PORT=<zmq rawtx port>
Environment=BITCOIN_ZMQ_SEQUENCE_PORT=<zmq sequence port>


WorkingDirectory=<installation root>/server

ExecStart=/bin/bash <installation root>/server/_build/prod/rel/prod/bin/prod start
ExecStop=/bin/bash <installation root>/server/_build/prod/rel/prod/bin/prod stop

[Install]
WantedBy=multi-user.target
